<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="empleadoBean" class="spring.ejemplos.dos.ioc.xml.EmpleadoBean" >
		<property name="cuenta" ref="cuentaBean"></property>
	</bean>
	
	<!-- Mediante el name podemos aplicarle alias separados por coma o bien mediante la etiqueta alias -->
	<bean id="cuentaBean" name="a,b,c,d" class="spring.ejemplos.dos.ioc.xml.CuentaBean" />
	
	<alias name="cuentaBean" alias="alias1"/>
	<alias name="a" alias="alias2"/>

</beans>