<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="pruebaBean" class="spring.ejemplos.cinco.pluginsfactorias.PruebaBean" />
	
	<bean id="plugin1" class="spring.ejemplos.cinco.pluginsfactorias.Plugin" />
	
	<bean id="plugin2" class="spring.ejemplos.cinco.pluginsfactorias.Plugin2" />
	
	<bean id="pruebaFactory" class="spring.ejemplos.cinco.pluginsfactorias.PruebaFactoryBean" />
	
</beans>