<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="empleadoBean" 
		  class="spring.ejemplos.cuatro.factorymethod.EmpleadoBean" 
		  factory-method="createInstance">
	</bean>
	
	<bean id="empleadoBean2" 
		  factory-bean="serviceLocator" 
		  factory-method="createEmpleadoBeanServiceInstance"> 
	</bean>
	
	<bean id="serviceLocator" 
		  class="spring.ejemplos.cuatro.factorymethod.ServiceLocator">
	
	</bean>
	

</beans>